<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lar Harney CV</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.js"></script>
    <script data-require="angular.js@1.0.x" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js" data-semver="1.0.8"></script>
    <!-- <script src="js/Angular.js"></script> -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/Style.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="https://use.fontawesome.com/4a7d16ebc3.js"></script>


</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">


<!-- <div id="background" class="col-xs-12"> -->
<!-- =========================================================== -->
    <!-- Navigation -->
<!-- =========================================================== -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> 
                </button>
                <a class="navbar-brand" href="#Home">Lar Harney</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="#WorkExp">Work Exp</a></li>
                    <li><a href="#Education">Education</a></li>
                    <li><a href="#Projects">Projects</a></li>
                    <li><a href="#Languages">Languages</a></li>
                    <li><a href="#ContactInfo">Contact Info</a></li>
                    <button id="myBtn" class="btn btn-danger navbar-btn">Contact Me</button>
                </ul>
                
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </nav>
    
    <!-- The Modal -->
<div id="contactModal" class="modal">

  <div class="modal-content">
    <div class="modal-header">
      <span class="close">×</span>
      <h2 class="centerHeader">Contact Me</h2>
    </div>
    <form id="contactForm">
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="FullnameForm">Fullname</label>
                    <input type="text" class="form-control" id="FullnameForm" placeholder="Enter Fullname">
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="CompanyForm">Company</label>
                    <input type="text" class="form-control" id="CompanyForm" placeholder="Enter Company">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="EmailForm">Email Address</label>
                    <input type="text" class="form-control" id="EmailForm" placeholder="Enter Address">
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="PhoneForm">Phone Number</label>
                    <input type="text" class="form-control" id="PhoneForm" placeholder="Enter Phone NUmber">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="MesageForm">Message</label>
            <textarea class="form-control" rows="8" id="MesageForm" placeholder="Enter Message"></textarea>
        </div>
        <div id="contactModalButtons">
            <button id="sendMessageBtn"type="submit" class="btn btn-info btn-md">Send <span class="glyphicon glyphicon-send"></span></button>
            <button type="button" class="btn btn-md">Click Me!</button>
        </div>


        <div class="alert alert-success">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
          <strong>Success!</strong> Message sent successfully.
        </div>
    </form>
    <div class="modal-footer">
        <br>
    </div>
  </div>

</div>
    

<!-- =========================================================== -->
<!-- HOME -->
<!-- =========================================================== -->
<div id="Home" class="container-fluid"> 
    <img src="./img/man.jpg" class="img-circle" alt="Me" width="300" height="300" style="padding-top:20px">
    <h1>Lar Harney</h1>
    
    <h3>Software Developer</h3>
</div>
    
    <aside class="social-links">
    <ul>
        <li class="twitter">
            <a href="https://twitter.com/elicomputerguy?lang=en" target="_blank" aria-label="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </li>

        <li class="linkedin">
            <a href="https://www.linkedin.com/in/guyhenderson" target="_blank" aria-label="LinkedIn"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </li>

        <li class="github">
            <a href="https://github.com/Larney11" target="_blank" aria-label="Github"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
        </li>
        
        <li class="stack-overflow">
            <a href="http://stackoverflow.com/users/6524227/larney" target="_blank" aria-label="StackOverflow"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a>
        </li>
        
        <li class="facebook">
            <a href="https://www.facebook.com/zuck" target="_blank" aria-label="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        </li>
    </ul>
</aside>
    
<br>
<br>
    

<!-- =========================================================== -->
<!-- Work Exp -->
<!-- =========================================================== -->
<div id="WorkExp" class="container-fluid">
    <h1 class="text-center">Work Exp</h1>

    <div class="panel-group" id="accordion">
        <!-- WorkExp Panel 1 -->
        <div class="panel panel-default container-fluid">
            <div class="panel-heading row">
                <div class="col-xs-12 col-sm-1 col-md-1">
                    <a href="http://www.google.com" target="_blank">
                        <img src="img/experience/adecsysLogo.PNG" class="img-circle"
                        alt="Me" width="70" height="70" style="padding-top:4px">
                    </a>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 workExpColHeader">
                    <row>
                        <h4>Title</h4>
                    </row>
                    <row>
                        Mobile application developer
                    </row>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 workExpColHeader">
                    <row>
                        <h4>Duration</h4>
                    </row>
                    <row>
                        Feb 2009 - Jan 2010
                    </row>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <button id="readMoreBtn" class="btn btn-med btn-info collapsed" 
                            data-toggle="collapse" data-parent="#accordion" href="#adecsysWorkExp">
                        Read More
                    </button>
                </div>
            </div>
            <div id="adecsysWorkExp" class="collapse">
                <div class="panel-body">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                      commodo consequat.
                    </p>
                </div>
            </div>
        </div>
        <!-- WorkExp Panel 2 -->
        <div class="panel panel-default container-fluid">
            <div class="panel-heading row">
                <div class="col-xs-12 col-sm-1 col-md-1">
                    <a href="http://www.ballymoreinn.com/" target="_blank">
                        <img src="img/experience/restaurant.jpg" class="img-circle"
                        alt="Me" width="70" height="70" style="padding-top:4px">
                    </a>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 workExpColHeader">
                    <row>
                        <h4>Title</h4>
                    </row>
                    <row>
                        Bartender
                    </row>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 workExpColHeader">
                    <row>
                        <h4>Duration</h4>
                    </row>
                    <row>
                        Aug 2013 - Aug 2015
                    </row>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <button id="readMoreBtn" class="btn btn-med btn-info collapsed" 
                            data-toggle="collapse" data-parent="#accordion" href="#barWorkExp">
                        Read More
                    </button>
                </div>
            </div>
            
                <div id="barWorkExp" class="collapse">
                <div class="panel-body">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                      commodo consequat.
                    </p>
                </div>
            </div>
        </div>
        <!-- WorkExp Panel 2 -->
        <div class="panel panel-default container-fluid">
            <div class="panel-heading row">
                <div class="col-xs-12 col-sm-1 col-md-1">
                    <a href="https://www.spar.ie/" target="_blank">
                        <img src="img/experience/sparLogo.png" class="img-circle"
                        alt="Me" width="70" height="70" style="padding-top:4px">
                    </a>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 workExpColHeader">
                    <row>
                        <h4>Title</h4>
                    </row>
                    <row>
                        Shop assistant
                    </row>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 workExpColHeader">
                    <row>
                        <h4>Duration</h4>
                    </row>
                    <row>
                        Aug 2011 - Aug 2013
                    </row>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <button id="readMoreBtn" class="btn btn-med btn-info collapsed" 
                            data-toggle="collapse" data-parent="#accordion" href="#sparWorkExp">
                        Read More
                    </button>
                </div>
            </div>
            
                <div id="sparWorkExp" class="collapse">
                <div class="panel-body">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                      commodo consequat.
                    </p>
                </div>
            </div>
        </div>
    </div>    
</div>
    
    
<!-- =========================================================== -->
    <!-- Education -->
<!-- =========================================================== -->
<div id="Education" class="container-fluid">
    <h1 class="text-center">Education</h1>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default container-fluid">
            <div class="panel-heading row">
                <div class="col-xs-12 col-sm-1 col-md-1">
                    <a href="http://www.it-tallaght.ie/" target="_blank">
                        <img src="img/education/IttLogo.png" class="img-circle"
                        alt="Me" width="70" height="70" style="padding-top:4px">
                    </a>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 workExpColHeader">
                    <row>
                        <h4>Title</h4>
                    </row>
                    <row>
                        Bachelor of Science (Honours) in Computing
                    </row>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 workExpColHeader">
                    <row>
                        <h4>Duration</h4>
                    </row>
                    <row>
                        2013 - 2017
                    </row>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <button id="readMoreBtn" class="btn btn-med btn-info collapsed readMoreBtn" onclick="collapseResultPanel();"
                            data-toggle="collapse" data-parent="#accordion" href="#collegeResults">
                        Results
                    </button>
                </div>
            </div>
            <div id="collegeResults" class="collapse">
                <div class="panel-body">
                    <div class="panel panel-default" ng-app="education" ng-controller="educationCtrl">
                        <div class="panel-heading">
                            <button id="resultsBtn" type="button" onclick="collapseHandler('fourthYrResults');" class="btn btn-info"
                                    data-toggle="collapse" data-parent="#accordion" href="#fourthYrResults">
                                4th Year
                            </button>
                            <button id="resultsBtn" type="button" onclick="collapseHandler('thirdYrResults');" class="btn btn-info" 
                                    data-toggle="collapse" data-parent="#accordion" href="#thirdYrResults">
                                3rd Year
                            </button>
                            <button id="resultsBtn" type="button" onclick="collapseHandler('secondYrResults');" class="btn btn-info" 
                                    data-toggle="collapse" data-parent="#accordion" href="#secondYrResults">
                                2nd Year
                            </button>
                            <button id="resultsBtn" type="button" onclick="collapseHandler('firstYrResults');" class="btn btn-info" 
                                    data-toggle="collapse" data-parent="#accordion" href="#firstYrResults">
                                1st Year
                            </button>
                        </div>
                        <div id="fourthYrResults" class="collapse in">
                            <div class="panel-body">
                                <h4 style="padding-left: 8px">GPA: TBC</h4>
                                <table class="table table-hover">
                                    <thead>
                                      <tr>
                                        <th>Subject</th>
                                        <th>Grade</th>
                                      </tr>
                                    </thead>
                                    <tbody ng-repeat="fourthYr in results.fourthYear">
                                        <tr>
                                            <td>{{fourthYr.subject}}</td>
                                            <td>{{fourthYr.grade}}</td>
                                        </tr>	  
                                    </tbody>
                                </table> 
                            </div>
                        </div>
                        <div id="thirdYrResults" class="collapse">
                            <div class="panel-body">
                                <h4 style="padding-left: 8px">GPA: 3.1 / 4.0</h4>

                                <table class="table table-hover">
                                    <thead>
                                      <tr>
                                        <th>Subject</th>
                                        <th>Grade</th>
                                      </tr>
                                    </thead>
                                    <tbody ng-repeat="thirdYr in results.thirdYear">
                                        <tr>
                                            <td>{{thirdYr.subject}}</td>
                                            <td>{{thirdYr.grade}}</td>
                                        </tr>	  
                                    </tbody>
                                </table> 
                            </div>
                        </div>
                        <div id="secondYrResults" class="collapse">
                            <div class="panel-body">
                                <h4 style="padding-left: 8px">GPA: 3.0 / 4.0</h4>
                                <table class="table table-hover">
                                    <thead>
                                      <tr>
                                        <th>Subject</th>
                                        <th>Grade</th>
                                      </tr>
                                    </thead>
                                    <tbody ng-repeat="secondYr in results.secondYear">
                                        <tr>
                                            <td>{{secondYr.subject}}</td>
                                            <td>{{secondYr.grade}}</td>
                                        </tr>	  
                                    </tbody>
                                </table> 
                            </div>
                        </div>
                        <div id="firstYrResults" class="collapse">
                            <div class="panel-body">
                                <h4 style="padding-left: 8px">GPA: 2.9 / 4.0</h4>
                                <table class="table table-hover">
                                    <thead>
                                      <tr>
                                        <th>Subject</th>
                                        <th>Grade</th>
                                      </tr>
                                    </thead>
                                    <tbody ng-repeat="firstYr in results.firstYear">
                                        <tr>
                                            <td>{{firstYr.subject}}</td>
                                            <td>{{firstYr.grade}}</td>
                                        </tr>	  
                                    </tbody>
                                </table> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default container-fluid">
            <div class="panel-heading row">
                <div class="col-xs-12 col-sm-1 col-md-1">
                    <a href="http://www.stkevinsdunlavin.com/" target="_blank">
                        <img src="img/education/StKevinLogo.jpg" class="img-circle"
                        alt="Me" width="70" height="70" style="padding-top:4px">
                    </a>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 workExpColHeader">
                    <row>
                        <h4>Title</h4>
                    </row>
                    <row>
                        Secondary School
                    </row>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 workExpColHeader">
                    <row>
                        <h4>Duration</h4>
                    </row>
                    <row>
                        2004 - 2011
                    </row>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <button id="readMoreBtn" class="btn btn-med btn-info collapsed" 
                            data-toggle="collapse" data-parent="#accordion" href="#secondaryResults">
                        Results
                    </button>
                </div>
            </div>
            <div id="secondaryResults" class="collapse">
                <div class="panel-body">
                        <h3>CAO Points: 345</h3>
                </div>
            </div>
        </div>
    </div>    
</div>    
    

    
    
    
    
    
    
    
<!-- The Modal -->
<!-- Fourt Year Project Modal -->
<div id="fourthYearmodal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span id="closefourthYearModal" class="close">×</span>
            <h2 class="centerHeader">
                MapMyRoute IOS Application
            </h2>
        </div>
        <div class="modal-footer">
            <h3>Modal Footer</h3>
        </div>
    </div>
</div>
    
    
    

    
<div id="Projects" class="col-xs-12">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>Projects</h1>
            </div>
        </div>
        <div id="fourthYrProjectContainer" class="col-xs-12 col-sm-6 col-md-4">
            <h3 class="centerHeader">Fourth Year</h3>
            <div id="projectImage">
                <div id="overlay">
                    <span id="icon">
                        <i class="fa fa-search-plus"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <img src="img/projects/fourthYrProject.png" height="300" width="300" data-target="#projectModalYr4" alt="">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <img src="img/projects/fourthYrProject.png" height="300" width="300" data-target="#projectModalYr4" alt="">
        </div>
    </div>
</div>
   
    
    
<!-- =========================================================== -->
    <!--CONTACT INFORMATION-->
<!-- =========================================================== -->

<div id="ContactInfo" class=container-fluid>
    <div class="col-xs-6">
        <h3>My Google Maps Demo</h3>
        <div id="map"></div>
        <script>
            function initMap() {
                var uluru = {lat: 53.3033435, lng: -6.3663455};
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 4,
                    center: uluru
                });
                var marker = new google.maps.Marker({
                    position: uluru,
                    map: map
                });
            }
        </script>
        <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQbTCF_1HRmRj-J5yzrhhdMDJpX2LlhUM&callback=initMap">
        </script>
    </div>
</div>
    

<!-- </div> -->
    <script src="js/smoothScroll.js"></script>
    <script src="js/Angular.js"></script>
    <script src="js/modals.js"></script>
        <script src="maincontroller.js" type="text/javascript"></script>
    
    
</body>
    
</html>


